In [1]:
import pandas as pd
from tqdm.auto import tqdm

In [2]:
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet

--2026-01-19 14:45:38--  https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 3.165.247.72, 3.165.247.79, 3.165.247.187, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|3.165.247.72|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1164775 (1.1M) [binary/octet-stream]
Saving to: ‘green_tripdata_2025-11.parquet.1’

green_tripdata_2025 100%[===================>]   1.11M  1.84MB/s    in 0.6s

2026-01-19 14:45:39 (1.84 MB/s) - ‘green_tripdata_2025-11.parquet.1’ saved [1164775/1164775]

In [3]:
!ls -lh green_tripdata_2025-11.parquet

-rw-rw-rw- 1 codespace codespace 1.2M Dec 19 15:51 green_tripdata_2025-11.parquet

In [4]:
df_green_trip=pd.read_parquet('green_tripdata_2025-11.parquet')
df_green_trip

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.20,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.00
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.20,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.00
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.50,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.00
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.70,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.00
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.40,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46907,2,2025-11-30 19:58:34,2025-11-30 20:14:28,None,NaN,59,51,NaN,8.50,33.22,...,0.5,0.00,0.0,NaN,1.0,34.72,NaN,NaN,NaN,0.00
46908,2,2025-11-30 19:34:00,2025-11-30 19:46:00,None,NaN,74,151,NaN,1.73,13.86,...,0.5,0.77,0.0,NaN,1.0,16.13,NaN,NaN,NaN,0.00
46909,2,2025-11-30 21:46:46,2025-11-30 22:17:55,None,NaN,33,163,NaN,7.52,38.42,...,0.5,1.00,0.0,NaN,1.0,44.42,NaN,NaN,NaN,0.75
46910,2,2025-11-30 21:00:00,2025-11-30 21:15:00,None,NaN,16,95,NaN,5.61,24.67,...,0.5,0.00,0.0,NaN,1.0,26.17,NaN,NaN,NaN,0.00
46911,2,2025-11-30 23:26:00,2025-11-30 23:42:00,None,NaN,65,87,NaN,2.91,14.46,...,0.5,3.89,0.0,NaN,1.0,23.35,NaN,NaN,NaN,0.75

In [5]:
!wget wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2026-01-19 14:45:48--  http://wget/
Resolving wget (wget)... failed: Name or service not known.
wget: unable to resolve host address ‘wget’
--2026-01-19 14:45:48--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 20.207.73.82
Connecting to github.com (github.com)|20.207.73.82|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://release-assets.githubusercontent.com/github-production-release-asset/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?sp=r&sv=2018-11-09&sr=b&spr=https&se=2026-01-19T15%3A33%3A05Z&rscd=attachment%3B+filename%3Dtaxi_zone_lookup.csv&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2026-01-19T14%3A32%3A22Z&ske=2026-01-19T15%3A33%3A05Z&sks=b&skv=2018-11-09&sig=t76tBy6ydrldLOd2%2Bd3Xvo2baTPN8aAA8CoCUheEEZk%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc2ODgzNDI0OSwibmJmIjoxNzY4ODMzOTQ5LCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.anr37Vs7dyi1icNNiZ_Ygz0JPxrU83Tns3KLiBsxmKs&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2026-01-19 14:45:49--  https://release-assets.githubusercontent.com/github-production-release-asset/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?sp=r&sv=2018-11-09&sr=b&spr=https&se=2026-01-19T15%3A33%3A05Z&rscd=attachment%3B+filename%3Dtaxi_zone_lookup.csv&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2026-01-19T14%3A32%3A22Z&ske=2026-01-19T15%3A33%3A05Z&sks=b&skv=2018-11-09&sig=t76tBy6ydrldLOd2%2Bd3Xvo2baTPN8aAA8CoCUheEEZk%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc2ODgzNDI0OSwibmJmIjoxNzY4ODMzOTQ5LCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.anr37Vs7dyi1icNNiZ_Ygz0JPxrU83Tns3KLiBsxmKs&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving release-assets.githubusercontent.com (release-assets.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to release-assets.githubusercontent.com (release-assets.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv.1’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0.003s

2026-01-19 14:45:49 (3.78 MB/s) - ‘taxi_zone_lookup.csv.1’ saved [12322/12322]

FINISHED --2026-01-19 14:45:49--
Total wall clock time: 0.7s
Downloaded: 1 files, 12K in 0.003s (3.78 MB/s)

In [12]:
df_zone_data=pd.read_csv('taxi_zone_lookup.csv')
df_zone_data

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [24]:
df_green_trip["lpep_pickup_datetime"] = pd.to_datetime(df_green_trip["lpep_pickup_datetime"])

In [25]:
count = df_green_trip[
    (df_green_trip["lpep_pickup_datetime"] >= "2025-11-01") &
    (df_green_trip["lpep_pickup_datetime"] < "2025-12-01") &
    (df_green_trip["trip_distance"] <= 1)
].shape[0]

count

8007

In [26]:
df_green_trip.dtypes

VendorID                          int32
lpep_pickup_datetime     datetime64[us]
lpep_dropoff_datetime    datetime64[us]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      int32
DOLocationID                      int32
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
cbd_congestion_fee              float64
dtype: object

In [28]:
df_green_trip["lpep_pickup_datetime"] = pd.to_datetime(df_green_trip["lpep_pickup_datetime"])

# Filter trips with distance < 100 miles
filtered_df = df_green_trip[df_green_trip["trip_distance"] < 100]

# Extract pickup day (date only)
filtered_df["pickup_day"] = filtered_df["lpep_pickup_datetime"].dt.date

# Find the pickup day with the longest trip distance
result = (
    filtered_df
    .loc[filtered_df["trip_distance"].idxmax(), "pickup_day"]
)

result

/tmp/ipykernel_16799/1087751759.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df["pickup_day"] = filtered_df["lpep_pickup_datetime"].dt.date

datetime.date(2025, 11, 14)

In [12]:
df_zone_data.dtypes

LocationID       int64
Borough         object
Zone            object
service_zone    object
dtype: object

In [29]:
df_nov18 = df_green_trip[
    (df_green_trip["lpep_pickup_datetime"] >= "2025-11-18") &
    (df_green_trip["lpep_pickup_datetime"] < "2025-11-19")
]

In [30]:
total_by_location = (
    df_nov18
    .groupby("PULocationID")["total_amount"]
    .sum()
    .reset_index()
)

In [31]:
result = (
    total_by_location
    .merge(df_zone_data, left_on="PULocationID", right_on="LocationID", how="left")
    .sort_values("total_amount", ascending=False)
    .head(1)
)
result

,PULocationID,total_amount,LocationID,Borough,Zone,service_zone
39,74,9281.92,74,Manhattan,East Harlem North,Boro Zone

In [34]:
result = (
    df_green_trip.assign(lpep_pickup_datetime=pd.to_datetime(df_green_trip["lpep_pickup_datetime"]))
      .merge(
          pd.read_csv("taxi_zone_lookup.csv")[["LocationID", "Zone"]],
          left_on="PULocationID",
          right_on="LocationID",
          how="left"
      )
      .rename(columns={"Zone": "pickup_zone"})
      .query(
          "pickup_zone == 'East Harlem North' "
          "and lpep_pickup_datetime >= '2025-11-01' "
          "and lpep_pickup_datetime < '2025-12-01'"
      )
      .merge(
          pd.read_csv("taxi_zone_lookup.csv")[["LocationID", "Zone"]],
          left_on="DOLocationID",
          right_on="LocationID",
          how="left"
      )
      .rename(columns={"Zone": "dropoff_zone"})
      .groupby("dropoff_zone", as_index=False)["tip_amount"]
      .max()
      .sort_values("tip_amount", ascending=False)
      .head(1)
)

result

       dropoff_zone  tip_amount
135  Yorkville West       81.89